@charset "UTF-8";

.post-container {
            width: 600px; /* 컨테이너의 너비 설정 */
            margin: 0 auto;
            border: 1px solid #ccc;
            padding: 15px;
            border-radius: 8px;
            font-family: Arial, sans-serif;
            background: #D6EFD8; /* 밝은 회색 배경 추가 */
            margin-bottom: 20px;
        }
        .carousel-item img {
            max-width: 100%;
            height: 100%;
            min-width: 570px; /* 최소 너비 설정 */
            min-height: 570px; /* 최소 높이 설정 */
            max-height: 570px;
            
        }
        .carousel-control-prev-icon,
        .carousel-control-next-icon {
            background-color: black; /* 화살표 배경색 설정 */
            border-radius: 50%; /* 원형으로 만들기 */
            width: 30px;
            height: 30px;
        }

        .carousel-control-prev-icon {
            background-image: url('data:image/svg+xml;charset=utf8,%3Csvg xmlns%3D"http://www.w3.org/2000/svg" fill%3D"%23ffffff" viewBox%3D"0 0 8 8"%3E%3Cpath d%3D"M4.5 0l-4 4 4 4 1.5-1.5L3 4l2.5-2.5L4.5 0z"/%3E%3C/svg%3E');
        }

        .carousel-control-next-icon {
            background-image: url('data:image/svg+xml;charset=utf8,%3Csvg xmlns%3D"http://www.w3.org/2000/svg" fill%3D"%23ffffff" viewBox%3D"0 0 8 8"%3E%3Cpath d%3D"M3.5 0l4 4-4 4-1.5-1.5L5 4 2.5 1.5 3.5 0z"/%3E%3C/svg%3E');
        }
        
        .post-icons {
            display: flex;
            justify-content: flex-start;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            padding: 5px;
            background: #fff; /* 각 구역의 흰색 배경 */
        }
        .post-icons img {
            width: 40px;
            height: 40px;
        }
        .post-user-info {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            padding: 5px;
            background: #fff; /* 각 구역의 흰색 배경 */
        }
        .user-details {
		    display: flex;
		    align-items: center;
		}
		.user-details img {
		    width: 50px;
		    height: 50px;
		    border-radius: 50%;
		    margin-right: 10px;
		}
		.user-info-text {
		    display: flex;
		    flex-direction: column;
		    align-items: flex-start; /* 추가 */
		}
		.user-stats {
		    display: flex;
		    flex-direction: column;
		    align-items: flex-end;
		     width: 200px; /* 좋아요와 팔로워 수를 동일한 기준에 맞추기 위해 너비 설정 */
		}
		.user-stats div {
			display: flex;
    		justify-content: space-between;
   		    width: 100%; /* 좋아요와 팔로워 수 텍스트를 기준 맞추기 위해 너비 설정 */
		    margin-bottom: 5px;
		}
		.user-stats span {
		    margin-left: 10px;
		}
        .post-user-info img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            margin-right: 10px;
        }
        .post-content {
            margin-bottom: 10px;
            border: 1px solid #ccc;
            padding: 5px;
            background: #fff; /* 각 구역의 흰색 배경 */
        }
        .post-stats {
            display: flex;
            justify-content: space-between;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            padding: 5px;
            background: #fff; /* 각 구역의 흰색 배경 */
        }
        .post-stats div {
            width: 48%;
        }
        .post-actions {
            display: flex;
            justify-content: space-around;
            border: 1px solid #ccc;
            padding: 5px;
            background: #fff; /* 각 구역의 흰색 배경 */
        }
        .post-actions button {
            padding: 10px;
            border: none;
            background: none;
            cursor: pointer;
        }
        .carousel.slide{
        	margin-bottom: 30px; 
        }
        

        
        