@charset "UTF-8";

/* 모달 창 스타일 수정 */
#reportModal {
    display: none; /* 기본적으로는 표시되지 않도록 설정 */
    position: fixed; /* 화면에 고정 */
    z-index: 1000; /* 다른 요소보다 위에 표시되도록 설정 */
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); /* 화면의 정중앙에 위치하도록 설정 */
    width: 300px; /* 모달 창의 너비를 조정 */
    max-height: 60%; /* 모달 창의 최대 높이를 설정 (화면의 80%로 제한) */
    background-color: white;
    border-radius: 10px; /* 모서리를 둥글게 만듦 */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3); /* 그림자 효과 추가 */
    padding: 20px; /* 내용물과 모달 창 가장자리 간의 여백 */
}

.modal-content {
    margin: 0;
    padding: 0;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #aaa;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


/* 취소 버튼 스타일 */
.button-container .close-modal {
    margin-left: 10px;
}

/* 모달 창 닫기 */
.close-modal {
    background-color: #f44336; /* 취소 버튼의 배경색 (빨강) */
    color: white; /* 취소 버튼의 글자색 */
    border: none;
    padding: 8px 15px;
    border-radius: 25px;
    cursor: pointer;
    font-size: 14px;
}

/* 그냥 버튼 */
#reportSubmit {
    background-color: #007bff; /* 취소 버튼의 배경색 (파랑) */
    color: white; /* 취소 버튼의 글자색 */
    border: none;
    padding: 8px 15px;
    border-radius: 25px;
    cursor: pointer;
    font-size: 14px;
}


.close-modal:hover {
    background-color: #d32f2f; /* 마우스를 올렸을 때 색상 */
}