<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <!-- 매퍼 인터페이스 경로와 같게 지정  -->
  <mapper namespace="com.kh.sintoburi.mapper.hc.ProductMapper">
  
  	<select id="getProductListWithCondition" resultType="ProductDto">
  		select * from tbl_product
  		<where>
  		<choose>
  			<when test="product_id == null">
  				product_name like #{product_name} || '%' 
  			</when>
  			<when test="product_name == null">
  				product_id like #{product_id} || '%' 
  			</when>
  		</choose>
  		</where>
  		order by product_id asc
  	</select>
  	
  	
  	
  
  </mapper>