<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <!-- 매퍼 인터페이스 경로와 같게 지정  -->
  <mapper namespace="com.kh.sintoburi.mapper.hc.UserMapper">
  	
  	<select id="getListByBlog_no" resultType="ReplyDto">
  		select * from tbl_blog_reply
  		where blog_no = #{blog_no}
  	</select>
  	
  
  </mapper>