<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.sintoburi.mapper.ji.ImageMapper">

	<!-- 이미지 등록 -->
	<insert id="insertImg">
		insert into tbl_img
			(uuid, img_name, img_path, pno)
		values
			(#{uuid}, #{img_name}, #{img_path}, #{pno})
	</insert>

	<!-- 상품 리스트 -->
	<select id="getImgList" resultType="ImageVo">
		select uuid, img_name, img_path, pno
		from tbl_img
		where pno = #{pno}
	</select>
	
	<!-- 상품 상세보기 -->
	<select id="getImageByProductNo" parameterType="int" resultType="ImageVo">
        SELECT uuid, img_name, img_path, pno
        FROM tbl_img
        WHERE pno = #{pno}
    </select>
	
	<!-- <delete id="delete">
		delete from tbl_img
		where rno = #{rno}	
	</delete>
	
	<select id="getOldImgList" resultType="ImageVo">
		select * from tbl_img
		where img_path = 'G:/upload/' ||
							(select to_char(sysdate -1, 'yyyy/MM/dd') from dual)
	</select> -->
	
	

	

</mapper>