<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.kh.project01.mapper.SuggestionMapper">
	
	<select id="read">
		select * from tbl_suggestion
		where suggestion_no = #{suggestion_no}
	</select>
	
	<select id="getList" resultType="SuggestionVo">
		select * from tbl_suggestion
		where product_no = #{product_no}
	</select>
	
	<insert id="insert">
		insert into tbl_suggestion
			(suggestion_no, suggestion_content ,product_no ,user_id)
		values
			(seq_suggestion_nextval, #{suggestion_content}, #{product_no}, #{user_id})
	</insert>
	
	<update id="update">
		update tbl_suggestion set
			suggestion_content = #{suggestion_content},
			user_id = #{user_id},
			suggestion_upd_date = #{suggestion_upd_date}
		where suggestion_no = #{suggestion_no}
	</update>
	
	<delete id="delete">
		delete from tbl_suggestion
		where suggestion_no = #{suggestion_no}
	</delete>
	
</mapper>