<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.kh.sintoburi.mapper.hn.EnquiryMapper">

 	  <select id="getList" resultType="EnquiryVo">
 	    select * from tbl_enquiry
	 	where user_id = #{user_id}
	 	order by eno 
 	  </select>
 	  
 	  
 	  <!-- 상품 페이징처리 -->
 <select id="getGoodsWithPaging" resultType="EnquiryVo">
    select *
    from (
        select
            eno,
            user_id,
            enquiry_type,
            status,
            write_date,
            row_number() over (order by eno desc) as rn
        from tbl_enquiry
        <where>
            <if test="typeArr != null and typeArr.length > 0">
                <trim prefix="(" suffix=")" prefixOverrides="or">
                    <foreach item="type" collection="typeArr" separator="or">
                        <choose>
                            <when test="type == 'E'.toString()">
                                eno like '%' || #{keyword} || '%'
                            </when>
                            <when test="type == 'I'.toString()">
                                user_id like '%' || #{keyword} || '%'
                            </when>
                        </choose>
                    </foreach>
                </trim>
            </if>
        </where>
    ) subquery
    where rn &gt; (#{pageNum} - 1) * #{amount}
      and rn &lt;= #{pageNum} * #{amount}
      and enquiry_type != '등급문의'
</select>

<!-- 등급 페이징처리 -->
 <select id="getGradeWithPaging" resultType="EnquiryVo">
    select *
    from (
        select
            eno,
            user_id,
            enquiry_type,
            status,
            write_date,
            row_number() over (order by eno desc) as rn
        from tbl_enquiry
        <where>
            <if test="typeArr != null and typeArr.length > 0">
                <trim prefix="(" suffix=")" prefixOverrides="or">
                    <foreach item="type" collection="typeArr" separator="or">
                        <choose>
                            <when test="type == 'E'.toString()">
                                eno like '%' || #{keyword} || '%'
                            </when>
                            <when test="type == 'I'.toString()">
                                user_id like '%' || #{keyword} || '%'
                            </when>
                            <when test="type == 'S'.toString()">
                                status like '%' || #{keyword} || '%'
                            </when>
                        </choose>
                    </foreach>
                </trim>
            </if>
        </where>
    ) subquery
    where rn &gt; (#{pageNum} - 1) * #{amount}
      and rn &lt;= #{pageNum} * #{amount}
      and enquiry_type = '등급문의'
</select>

 <!-- 게시글 갯수 -->
	<select id="getTotalCount" resultType="int">
		select count(*) from tbl_enquiry
		<where>
			<if test="type != null">
				<trim prefix="(" suffix=")" prefixOverrides="or">
					<foreach item="type" collection="typeArr">
						<trim prefix="or">
							<choose>
                                <when test="type == 'E'.toString()">
                                    eno like '%' || #{keyword} || '%'
                                </when>
                                <when test="type == 'I'.toString()">
                                    user_id like '%' || #{keyword} || '%'
                                </when>
                                <when test="type == 'S'.toString()">
	                                status like '%' || #{keyword} || '%'
	                            </when>
                            </choose>
						</trim>
					</foreach>
				</trim>
			</if>
		</where>
	</select> 
 	  
 	  
 	  
 	  <!--상품 문의사항 목록 -->
 	  <select id="goodsGetList" resultType="EnquiryVo">
        select * from tbl_enquiry
        where enquiry_type != '등급문의'
		order by eno 
    </select>
    
    <!-- 등급 문의사항 목록 -->
    
    <select id="gradeGetList" resultType="EnquiryVo">
        select * from tbl_enquiry
        where enquiry_type = '등급문의'
		order by eno 
    </select>
  
   <!-- 문의사항 등록 --> 
    <insert id="insert">
    insert into tbl_enquiry
    (eno, user_id, enquiry_type, content, image)
    values
    (seq_enquiry.nextval, #{user_id}, #{enquiry_type}, #{content}, #{image})
</insert>
   
    <!-- 문의사항 수정 -->
      <update id="update" >
        update tbl_enquiry
        set user_id = #{user_id},
            enquiry_type = #{enquiry_type},
            content = #{content},
            image = #{image}
        where eno = #{eno}
    </update>
  
  <!--  문의사항삭제 -->  
       <delete id="delete" >
        delete from tbl_enquiry
        where eno = #{eno}
    </delete>
   
   <!-- 문의사항 한개 데이터 --> 
       <select id="selectByEno" resultType="EnquiryVo" >
        select * from tbl_enquiry
        where eno = #{eno}
    </select>
    
    <!-- 문의사항 답변 완료 -->
  	<update id="updateStatus">
  		update tbl_enquiry
        set status = '답변완료'
        where eno = #{eno} 
       
  	</update>
  	
  	 <!-- 문의사항 답변 완료 -->
  	<update id="gradeUpdateStatus">
  		update tbl_enquiry
        set status = '처리완료'
        where eno = #{eno} 
        and enquiry_type = '등급문의'
  	</update>
    
    
  
  </mapper>