<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.kh.sintoburi.mapper.hn.UserMapper">
  
  <!-- 회원목록 -->
  <select id="getList" resultType="UserDto">
  	select user_id,user_name,grade,email,last_login 
  	from tbl_users
  </select>
  

<!-- 회원 등급 수정 --> 

    <update id="updateGrade">
        update tbl_users
        set grade = #{grade}
        where user_id = #{user_id}
    </update>
  
  <!--  회원 데이터 1개 -->
   <select id="selectById" resultType="UserDto">
  	select user_id,user_name,grade,email,last_login 
  	from tbl_users
  	where user_id = #{user_id}
  </select>
  
  
  </mapper>