<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.kh.sintoburi.mapper.hn.UserMapper">
  
  <!-- 회원목록 -->
  <select id="getList" resultType="UserDto">
  	select * from tbl_users
  </select>
  
  <!--  페이징처리 -->
 <select id="getListWithPaging" resultType="UserDto">
    select *
    from (
        select
            user_id,
            user_name,
            email,
            grade,
            last_login,
            row_number() over (order by last_login desc) as rn
        from tbl_users
        <where>
            <if test="typeArr != null and typeArr.length > 0">
                <trim prefix="(" suffix=")" prefixOverrides="or">
                    <foreach item="type" collection="typeArr" separator="or">
                        <choose>
                            <when test="type == 'I'.toString()">
                                user_id LIKE '%' || #{keyword} || '%'
                            </when>
                            <when test="type == 'E'.toString()">
                                email LIKE '%' || #{keyword} || '%'
                            </when>
                              <when test="type == 'GS'.toString()">
                                grade LIKE '%' || '판매자' || '%'
                            </when>
                               <when test="type == 'GB'.toString()">
                                grade LIKE '%' || '구매자' || '%'
                            </when>
                        </choose>
                    </foreach>
                </trim>
            </if>
        </where>
    ) subquery
    WHERE rn &gt; (#{pageNum} - 1) * #{amount}
      AND rn &lt;= #{pageNum} * #{amount}
</select>

 <!-- 게시글 갯수 -->
	<select id="getTotalCount" resultType="int">
		select count(*) from tbl_users
		<where>
			<if test="type != null">
				<trim prefix="(" suffix=")" prefixOverrides="or">
					<foreach item="type" collection="typeArr">
						<trim prefix="or">
							<choose>
                                <when test="type == 'I'.toString()">
                                    user_id like '%' || #{keyword} || '%'
                                </when>
                                <when test="type == 'E'.toString()">
                                    email like '%' || #{keyword} || '%'
                                </when>
                            </choose>
						</trim>
					</foreach>
				</trim>
			</if>
		</where>
	</select> 

			
   
<!-- 회원 등급 수정 --> 

    <update id="updateGrade">
        update tbl_users
        set grade = #{grade}
        where user_id = #{user_id}
    </update>
  
  <!--  회원 데이터 1개 -->
   <select id="selectById" resultType="UserDto">
  	select user_id,user_name,grade,email,last_login 
  	from tbl_users
  	where user_id = #{user_id}
  </select>
  
  <!-- 로그인 -->
  <select id="login" resultType="userDto">
		select *
		from tbl_users
		where user_id = #{user_id}
		and user_pw = #{user_pw}
	</select>

	<!-- 회원가입 -->
	<insert id="join">
		insert into tbl_users (user_id, user_pw, user_name,email,address)
		values(#{user_id},#{user_pw}, #{user_name} , #{email},#{address})
	</insert>
	<!-- 아이디저장 -->
	<select id="checkDupId" resultType="int">
		select count(*) from tbl_users
		where user_id = #{user_id}
	</select>
	<!-- 이메일조회 -->
	<select id="getEmailById" resultType="string">
		select user_email from tbl_users
		where user_id = #{user_id}
	</select>
	<!-- 비밀번호변경 -->
	<update id="updatePw">
		update tbl_users set 
			user_pw = #{user_pw}
		where user_id = #{user_id}	
	</update>
  
  
  
  </mapper>